body{
    margin:0;
    padding: 0;
}
header{
    background-image: url("image/pexels-olly-3807799.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    inset: 0;
    margin-top: 0;

}
.head{
    background-color:rgb(110, 21, 117);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.brand{
    padding-left: 10px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
nav ul li{
    padding-right: 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}


.quote-btn{
    color: white;
    background-color: red;
    border-radius: 25px;
    padding-right: 20px;
    height: 40px;
    padding-bottom: 10px;
}

.home{
    padding-right: 750px;
    padding-left: 20px;
    padding-top: 250px;
    color: white;

}

.home,h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.home,p{
    font-size: 20px;

}
.choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose-box{
    border: 2px solid gray;
    padding: 30px;
    margin-right: 35px;
    margin-left: 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(108, 198, 159);
    text-align: center;
}
.choose-head{
    text-align: center;
    color: chartreuse;
    padding-top: 40px;
    padding-bottom: 40px;
}
.choose-head1{
    text-align: center;
    color: chartreuse;
    padding-bottom: 0px;
    padding-top: 40px;
}
.choose-box img{
    width: 400px;
    height: 350px;
    border-radius: 10px;
}
.butT{
    color: white;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 10px;
}
.about-content{
    padding: 60px 15px;
    color: black;
    background-color: white;
}
.us{
    text-align: center;
}
.us-ab{
    text-align: center;
    font-size: large;
}


.about{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    row-gap: 20px;
   
}
.about-box{
    margin-left: 30px;
    margin-right: 17px;
    border: grey;
    border-radius: 10px;
    background-color: rgb(59, 5, 84);
    align-items: center;
    text-align: center;
}
.size{
    font-size: 40px;
    color: white;
}
.cont{
    font-size: 20px;
    color: white;
}
.cat{
    display: flex;
    align-items: flex-start;
    padding: 0 30px;
    gap: 30px;
}
.cat img{
    width: 700px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 10px;
}

.service{
   text-align: center;
    color: chartreuse;
    padding-top: 40px;
    padding-bottom: 0px;
}
.services{
  
    text-align: center;
    color: chartreuse;
    padding-bottom: 40px;
    padding-top: 0px;
    font-size: larger;
}

.together1{
    padding: 20px;
    padding-top: 0;
    width: 400px;
    padding-left: 0;
 }
 .together1 .eng{
    text-align: center;
    width: 170px;
    margin-left: 250px;
    margin-right: 15%;
    padding-bottom: 20px;
 }
 .together1 .eng h3{
    color: red;
    font-size: large;
 }
 .together1 .eng p{
    color: black;
    font-size: small;  
 }
 .together1 .eng button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
 }
.together1 .bat{
    padding-top: 150px;
    text-align: center;
    width: 170px;
    margin-left: 150px;
    padding-right: 30%;
}
.together1 .bat h3{
    color: red;
    font-size: large;
 }
.together1 .bat p{
    color: black;
    font-size: small;
}
.together1 .bat button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

.together{
    padding: 20px;
    padding-top: 0;
    width: 400px;
    padding-left: 5px;
 }
 .together .tir{
    padding-bottom: 20px;
    text-align: center;
    width: 170px;
    margin-right: 300px;
    margin-left: 15%;
 }
 .together .tir h3{
    color: red;
    font-size: large;
 }
 .together .tir p{
    color: black;
    font-size: small;  
 }
 .together .tir button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
 }
.together .ste{
    text-align: center;
    width: 170px;
    margin-right: 200px;
    padding-left: 30%;
    padding-top: 150px;
}
.together .ste h3{
    color: red;
    font-size: large;
 }
.together .ste p{
    color: black;
    font-size: small;
}
.together .ste button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.gether{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wow{
    margin-right: 25px;
    margin-left: 25px;
}
.pamoja{
    text-align: center;
}
.pamoja .bre{
    text-align: center;
    width: 170px;
}
.car{
    padding-top: 0;  
    align-items: center;
}
.car img{
    width: 500px;
    height: 450px;
    border: none;
    padding-bottom: 0;
}
.bre{
    width: 170px;
    padding-left: 33%;
    padding-bottom: 20px;
}
.bre h3{
    color: red;
    font-size: large;
}
.bre p{
    color: black;
    font-size: small;  
}
.bre button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.car button{
    color: white;
    border: red;
    background-color: red;
    border-radius: 20px;
    height: 40px;
    width: 170px;
    padding-top: 0;
}

/* Our mission */

.mission{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 150px;
}
.miss{
    margin-left: 30px;
    margin-right: 30px;
    border: grey;
    border-radius: 10px;
}

.miss img{
    width: 500px;
    height: 500px;
    border: none;
    padding-bottom: 0;
    border-radius: 10px;
}

.miss h3, .miss h2, .miss p{
    text-align: left;
    color: black;
}

.con{
    background-color: red;
    height: 450px;
    width: 400px;

}
.con .get{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.fom{
  text-align: center;
}

input{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
}
textarea{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
}
form button{
    color: white;
    background-color:rgb(24, 24, 62);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    width: 40%;
}
.features{
    display:grid;
    justify-content: space-between;
    align-items: center; 
    grid-template-columns: 2fr 2fr;
    gap: 20px;
}
.feature{
    margin-right: 15px;
    margin-left: 15px;
    background-color: transparent;
}
.work{
    text-align: center;
}
.work h4{
    font-size: large;
}
.work h1{
    font-size: x-large;
}
.three{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.twe{
    padding: 30px;
    margin-right: 25px;
    margin-left: 15px;
    position: relative;
}
.twe img{
    width: 400px;
    height: 500px;
    border: none;
} 

.tog{
    text-align: center;
    width: 60%;
    border: none;
    margin-top: -90px;
    background: white;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    bottom: 20px;
    padding: 15px;
}
.Rwork{
    padding-top: 160px;
}
/* mechanics we have */
.mech{
    padding-top: 150px;
}
.mechanics{
    align-items: center;
    justify-content: center;
    display: flex;
}
.mec-content{
    margin-left: 25px;
    margin-right: 25px;
    padding: 30px;
    width: 600px;
    height: 400px;
}
.mec-in{
    text-align: left;
    padding-top: 130px;
}
.mec-in h3{
    color: red;
    font-size: large;
}
.mec-in p{
    font-size: 20px;
    padding-top: 0;
}
.mec-in button{
    border-radius: 20px;
    color: white;
    background-color: red;
    height: 40px;
    width: 170px;
}
.mec-side{
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 100px;
}
.wor{
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px;
    background-color: aliceblue;
}
.wor img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
}
.wor h4, .wor h3{
    text-align: center;
}
.offer{
    padding-top: 400px;
    padding-bottom: 200px;
}
.off{
    text-align: center;
}
.off .red{
    color: red;
}
.off h1{
    
}
.off button{
    height: 40px;
    width: 200px;
    color: white;
    background-color: red;
    border-radius: 20px;
}
.touch{
    text-align: center;
}
.touch h3{
    color: red;
}
.touch h3, .touch h2{
    padding-bottom: 50px;
    padding-top: -120;
}
.sub{
    text-align: center;
}
.sub button{
    color: white;
    background-color: red;
    height: 40px;
    border-radius: 20px;
    width: 200px;
}
.conta form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conta form input{
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    border-color: grey;
    background-color: antiquewhite;
    height: 30px;
}
#message{
    padding-top: 20px;
    width: 100%;
    margin-left: 30px;
    margin-right: 20px;
    border-color: grey;
    background-color: antiquewhite;
}
.tou{
    padding-top: 200px;
}