body{
    margin:0;
    padding: 0;
}
header{
    background-image: url("image/pexels-olly-3807799.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    inset: 0;
    margin-top: 0;

}
.head{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.brand{
    padding-left: 10px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
nav ul li{
    padding-right: 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}


.quote-btn{
    color: white;
    background-color: red;
    border-radius: 25px;
    padding-right: 20px;
}

.home{
    padding-right: 750px;
    padding-left: 20px;
    padding-top: 250px;
    color: white;

}

.home,h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.home,p{
    font-size: 20px;

}
.choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose-box{
    border: 2px solid gray;
    padding: 30px;
    margin-right: 35px;
    margin-left: 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(108, 198, 159);
    text-align: center;
}
.choose-head{
    text-align: center;
    color: chartreuse;
    padding-top: 40px;
    padding-bottom: 40px;
}
.choose-head1{
    text-align: center;
    color: chartreuse;
    padding-bottom: 0px;
    padding-top: 40px;
}
.choose-box img{
    width: 400px;
    height: 350px;
    border-radius: 10px;
}
.butT{
    color: white;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 10px;
}
.about-content{
    padding: 60px 15px;
    color: black;
    background-color: white;
}
.us{
    text-align: center;
}
.us-ab{
    text-align: center;
    font-size: large;
}


.about{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    row-gap: 20px;
   
}
.about-box{
    margin-left: 30px;
    margin-right: 17px;
    border: grey;
    border-radius: 10px;
    background-color: rgb(59, 5, 84);
    align-items: center;
    text-align: center;
}
.size{
    font-size: 40px;
    color: white;
}
.cont{
    font-size: 20px;
    color: white;
}
.cat{
    display: flex;
    align-items: flex-start;
    padding: 0 30px;
    gap: 30px;
}
.cat img{
    width: 700px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 10px;
}

.service{
    text-align: center;
    color: chartreuse;
    padding-top: 40px;
    padding-bottom: 0px;
}
.services{
    text-align: center;
    color: chartreuse;
    padding-bottom: 40px;
    padding-top: 0px;
    font-size: larger;
}
/* .bat{
    text-align: center;
    width: 170px;
    margin-left: 45%;
    padding-bottom: 0px;
}
.bat h3{
    color: red;
    font-size: large;
}
.bat p{
    color: black;
    font-size: small;  
}
.bat button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.together1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0; */
/* } */
/* .eng{
    text-align: center;
    width: 170px;
    margin-left: 300px;
}
.eng h3{
    color: red;
    font-size: large;
}
.eng p{
    color: black;
    font-size: small;  
}
.eng button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.tir{
    text-align: center;
    width: 170px;
    margin-right: 300px;
}
.tir h3{
    color: red;
    font-size: large;
}
.tir p{
    color: black;
    font-size: small;  
}
.tir button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.together{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
.bre{
    text-align: center;
    width: 170px;
    margin-left: 200px;
}
.bre h3{
    color: red;
    font-size: large;
}
.bre p{
    color: black;
    font-size: small;  
}
.bre button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.ste{
    text-align: center;
    width: 170px;
    margin-right: 200px;
}
.ste h3{
    color: red;
    font-size: large;
}
.ste p{
    color: black;
    font-size: small;  
}
.ste button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.car{
    align-items: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.car img{
    width: 200px;
    height: auto;
    flex-shrink: 0;
    z-index: 100;
    width: 400px;
} */

.together1{
    padding: 20px;
    padding-top: 0;
    width: 400px;
    padding-left: 0;
 }
 .together1 .eng{
    text-align: center;
    width: 170px;
    margin-left: 250px;
    margin-right: 15%;
    padding-bottom: 20px;
 }
 .together1 .eng h3{
    color: red;
    font-size: large;
 }
 .together1 .eng p{
    color: black;
    font-size: small;  
 }
 .together1 .eng button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
 }
.together1 .bat{
    padding-top: 150px;
    text-align: center;
    width: 170px;
    margin-left: 150px;
    padding-right: 30%;
}
.together1 .bat h3{
    color: red;
    font-size: large;
 }
.together1 .bat p{
    color: black;
    font-size: small;
}
.together1 .bat button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

.together{
    padding: 20px;
    padding-top: 0;
    width: 400px;
    padding-left: 5px;
 }
 .together .tir{
    padding-bottom: 20px;
    text-align: center;
    width: 170px;
    margin-right: 300px;
    margin-left: 15%;
 }
 .together .tir h3{
    color: red;
    font-size: large;
 }
 .together .tir p{
    color: black;
    font-size: small;  
 }
 .together .tir button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
 }
.together .ste{
    text-align: center;
    width: 170px;
    margin-right: 200px;
    padding-left: 30%;
    padding-top: 150px;
}
.together .ste h3{
    color: red;
    font-size: large;
 }
.together .ste p{
    color: black;
    font-size: small;
}
.together .ste button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.gether{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wow{
    margin-right: 25px;
    margin-left: 25px;
}
.pamoja{
    text-align: center;
}
.pamoja .bre{
    text-align: center;
    width: 170px;
    
}
.car img{
    width: 400px;
    height: 350px;
    border-radius: 10px;
}
.bre{
    width: 170px;
    padding-left: 33%;
    padding-bottom: 40px;
}
.bre h3{
    color: red;
    font-size: large;
}
.bre p{
    color: black;
    font-size: small;  
}
.bre button{
    color: red;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.car button{
    color: white;
    border: red;
    background-color: red;
    border-radius: 20px;
    height: 40px;
    width: 170px;
}


